@{
	ViewData["Title"] = "Home";

}

<div class="background d-flex justify-content-center">

	<div class="title-area">
		<h1 class="landing-header">Dynamic Coffee Sellers</h1>
		
	<a class="btn btn-light products-btn" href="Home/Products">
		<div class="pacifico button-text">Check Out Our Offerings!</div>
	</a>
	</div>

</div>
